<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved</h6>
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/app.css">
      

    </nav>
    </footer>
</body>
</html>