<%- include('partials/head') %>
<title>About Us</title>
</head>
<body>
  <%- include('partials/main_nav') %> <!-- Include Navbar -->

  <div class="container">
    <h1>About Us</h1>
    <p>Brown Men Inc. was founded with the mission to revolutionize the warehouse inventory management industry. 
      With years of experience and a team of dedicated professionals, we pride ourselves on providing cutting-edge tools 
      to help businesses manage their inventory effectively. Our vision is to make inventory management seamless, 
      accurate, and accessible for businesses of all sizes.</p>
  </div>

  <%- include('partials/footer') %> <!-- Include Footer -->
</body>
</html>
