<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container mt-4">
        <h1>Contact Us</h1>
        <p>If you need to get in touch, please reach out to us through the following channels...</p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
