<%- include('partials/head') %>
<title>Contact Us</title>
</head>
<body>
  <%- include('partials/main_nav') %> <!-- Include Navbar -->

  <div class="container">
    <h1>Contact Us</h1>
    <p>This is the Contact Us page.</p>
  </div>

  <%- include('partials/footer') %> <!-- Include Footer -->
</body>
</html>
