<%- include('partials/head') %>
<title>Home</title>
</head>
<body>
  <%- include('partials/main_nav') %> <!-- Include Navbar -->

  <div class="container">
    <h1> At Brown Men Inc., we specialize in innovative warehouse inventory management solutions. 
      Our platform streamlines operations, boosts efficiency, and ensures your inventory is always optimized for success.</h1>
  </div>

  <%- include('partials/footer') %> <!-- Include Footer -->
</body>
</html>
