<%- include('partials/head') %>
<title>Home</title>
</head>
<body>
  <%- include('partials/main_nav') %> <!-- Include Navbar -->

  <div class="container">
    <h1>Welcome to the Home Page</h1>
  </div>

  <%- include('partials/footer') %> <!-- Include Footer -->
</body>
</html>
