<%- include('partials/head') %>
<title>Login</title>
</head>
<body>
  <%- include('partials/main_nav') %> <!-- Include Navbar -->

  <div class="container">
    <h1>Login</h1>
    <form action="/users/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" required>

      <label for="password">Password:</label>
      <input type="password" name="password" required>

      <button type="submit">Login</button>
    </form>
  </div>

  <%- include('partials/footer') %> <!-- Include Footer -->
</body>
</html>
