<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <div class="container mt-4">
        <h1>Our Products</h1>
        <p>Here is a list of products we offer:</p>
        <ul>
            <li>Product 1</li>
            <li>Product 2</li>
            <li>Product 3</li>
        </ul>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
